In [2]:
import os
import sys
import csv
from bs4 import BeautifulSoup as bs
import requests, numpy, matplotlib.pyplot
import pandas as pd
from urllib.request import urlopen
import os.path

In [3]:
# Specify path for saving
# Example:
# save_path = 'C:/example/'
# save_path = 'C:/Users/jorge/Desktop'

In [4]:
school_name = []
ranking = []
location = []
acceptance_rate = []

In [5]:
# Specify url
# Read url from website
the_rankings = "https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/25/subjects/3066/sort_by/rank/sort_order/asc/cols/stats"
qs_rankings = "https://www.university-list.net/rank/univ-150038.html"
top_rankings = "https://www.topuniversities.com/university-rankings/university-subject-rankings/2018/engineering-technology"

In [6]:
# Loop through Niche College website to scrape

for i in range(20):
    niche_rankings = "https://www.niche.com/colleges/search/best-colleges-for-engineering/?page="+str(i+1)
    page = requests.get(niche_rankings)
    page = page.text
# query the website and return the html to the variable ‘page’
#page = urllib.request.urlopen(qs_rankings)

#file = open("table_data.csv","w",newline='')
#writer = csv.writer(file)

# Use page to create a BeautifulSoup object and specify the type of parser
    soup = bs(page, 'html.parser')
#soup = bs(page,"lxml")

    school_name += [s.text for s in soup.select("li > div > div > a > div > h2")]
    ranking += [s.text for s in soup.select("li > div > div > a > div > div > span")]
    location += [s.text for s in soup.select("li > div > div > a > div > ul > li")]
    acceptance_rate += [s.text for s in soup.select("li > div > div > a > div > ul > li > div > span")]

## Start cleaning raw data

#### Raw data must be saved to csv and then cleaned up for further use

In [7]:
# Save raw data to csv
raw = []
raw = school_name + location + ranking + acceptance_rate
raw_data = pd.DataFrame(raw)
raw_data.to_csv("raw_data_Niche_2017.csv", sep=',', encoding='utf-8')

In [8]:
a = [x for x in acceptance_rate if x]  # Remove empty elements

In [9]:
# Find the location of each school
locat=[]
for s in location:
    if ' ' in s and 'Year' not in s and 'Overall' not in s and 'SAT' not in s:
        if 'Acceptance' not in s and 'Net' not in s:
            locat.append(s)
locat.insert(404,'Albany, NY')    # Albany was missing... this is to insert the missing value at the specific index

In [10]:
# Store relevant characteristics

net_price = acceptance_rate[4::8]
accept_rate = acceptance_rate[2::8]
sat_range = acceptance_rate[6::8]

In [11]:
# Create pandas dataframe

Schools = pd.DataFrame({"Price": net_price, "Acceptance Rate": accept_rate, "SAT Range": sat_range, "School Name": school_name, "Location": locat})
Schools

,Acceptance Rate,Location,Price,SAT Range,School Name
0,8%,"Cambridge, MA","$21,576",1460-1590,Massachusetts Institute of Technology
1,5%,"Stanford, CA","$16,695",1380-1580,Stanford University
2,7%,"Princeton, NJ","$17,732",1400-1590,Princeton University
3,26%,"Atlanta, GA","$13,340",1320-1500,Georgia Institute of Technology
4,8%,"Pasadena, CA","$26,839",1510-1600,California Institute of Technology
5,15%,"Houston, TX","$22,061",1410-1570,Rice University
6,6%,"New Haven, CT","$18,319",1420-1600,Yale University
7,5%,"Cambridge, MA","$16,205",1430-1600,Harvard University
8,11%,"Durham, NC","$19,950",1380-1570,Duke University
9,70%,"Burlington, VT","$38,370",940-1208,Champlain College
10,9%,"Philadelphia, PA","$22,944",1380-1570,University of Pennsylvania
11,14%,"Ithaca, NY","$30,014",1330-1530,Cornell University
12,29%,"Ann Arbor, MI","$16,107",1310-1500,University of Michigan - Ann Arbor
13,19%,"Notre Dame, IN","$26,683",1350-1540,University of Notre Dame
14,40%,"Golden, CO","$25,097",1250-1420,Colorado School of Mines
15,7%,"New York, NY","$22,973",1410-1590,Columbia University
16,17%,"Los Angeles, CA","$32,932",1280-1500,University of Southern California
17,17%,"Berkeley, CA","$17,160",1270-1540,University of California - Berkeley
18,87%,"Greenville, SC","$16,258",900-1210,Bob Jones University
19,15%,"New York, NY","$34,754",1250-1500,The Cooper Union for the Advancement of Scienc...
20,60%,"Champaign, IL","$16,683",1285-1480,University of Illinois at Urbana-Champaign
21,11%,"Nashville, TN","$23,150",1420-1590,Vanderbilt University
22,40%,"Austin, TX","$16,010",1140-1410,University of Texas - Austin
23,22%,"Pittsburgh, PA","$35,250",1380-1550,Carnegie Mellon University
24,56%,"West Lafayette, IN","$11,693",1070-1320,Purdue University
25,17%,"Saint Louis, MO","$28,824",1400-1570,Washington University in St. Louis
26,71%,"Blacksburg, VA","$17,190",1100-1320,Virginia Tech
27,11%,"Evanston, IL","$29,326",1400-1560,Northwestern University
28,9%,"Providence, RI","$25,264",1370-1570,Brown University
29,29%,"Boston, MA","$29,998",1330-1510,Northeastern University
...,...,...,...,...,...
510,100%,"Rocklin, CA","$8,215",—,Sierra College
511,100%,"Santa Barbara, CA","$10,984",—,Santa Barbara City College
512,100%,"Warren, MI","$7,894",—,Macomb Community College
513,93%,"Fort Wayne, IN","$7,270",860-1080,Indiana University-Purdue University - Fort Wayne
514,100%,"Santa Clarita, CA","$6,680",—,College of the Canyons
515,76%,"Beaumont, TX","$11,755",860-1050,Lamar University
516,100%,"Baltimore, MD","$8,393",—,The Community College of Baltimore County
517,100%,"Lincroft, NJ","$6,916",—,Brookdale Community College
518,100%,"Dayton, OH","$3,949",—,Sinclair Community College
519,100%,"Rancho Cucamonga, CA","$10,306",—,Chaffey College
520,46%,"Commerce, TX","$9,032",870-1080,Texas A&M University - Commerce
521,60%,"Elon, NC","$34,168",1100-1280,Elon University
522,71%,"Riverdale, NY","$32,576",1000-1210,Manhattan College
523,100%,"Perkinston, MS","$7,789",—,Mississippi Gulf Coast Community College
524,86%,"Morehead, KY","$11,296",840-1060,Morehead State University
525,100%,"Tyler, TX","$8,863",—,Tyler Junior College
526,100%,"Cedar Rapids, IA","$9,929",—,Kirkwood Community College
527,100%,"Troy, NY","$8,540",—,SUNY Hudson Valley Community College
528,74%,"Pittsburgh, PA","$28,930",1055-1230,Duquesne University
529,100%,"San Diego, CA","$7,567",—,San Diego Mesa College
530,100%,"Springfield, MO","$6,205",—,Ozarks Technical Community College
531,24%,"Lynchburg, VA","$24,794",950-1190,Liberty University
532,91%,"Hays, KS","$11,993",—,Fort Hays State University
533,51%,"Houston, TX","$13,919",715-900,Texas Southern University
534,60%,"Baltimore, MD","$15,909",810-990,Morgan State University
535,100%,"Syracuse, NY","$7,530",—,SUNY Onondaga Community College
536,100%,"Nashville, TN","$9,614",—,Tennessee State University
537,100%,"Moorpark, CA","$4,223",—,Moorpark College
538,100%,"Pittsburgh, PA","$8,385",—,Community College of Allegheny County
539,60%,"Canyon, TX","$12,022",850-1060,West Texas A&M University

In [ ]:
# Save clean csv to file
# Specify path or use default
# Schools.to_csv("clean_data_Niche_2017.csv", sep=',', encoding='utf-8')